@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div id="content">site is loading...</div>
</body>

<script type="text/javascript" src="@Url.Content("~/assets/bundle.js")"></script>
</html>